body{
    background-color:rgb(255, 236, 201);
    margin: 0;
    padding: 0;
}
.mainDiv{
    /* border: 1px solid black; */
}
.h1Main{
    letter-spacing: 0.1rem;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}
.button{
    border: 1px solid black;
    margin: 10px 180px;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
}
.children{
    margin-left: 180px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}